<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizacion</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <center>
            <h1>Cotización</h1>
            <form action="/cotizacion" method="post">
                <label for="">Valor del automovil</label><input type="number" name="valor" id="valor" required="true" value="<%=valor%>">
                
                <label for="">Porcentaje de Pago Inicial</label>
                <select name="pInicial" id="pInicial">
                    <option value="10" selected>10%</option>
                    <option value="20">20%</option>
                    <option value="30">30%</option>
                    <option value="50">50%</option>
                    <option value="70">70%</option>
                </select>
                <br>

                <label for="">Plazos</label>
                <select name="plazos" id="plazos">
                    <option value="12" selected>12 Meses</option>
                    <option value="24">24 Meses</option>
                    <option value="36">36 Meses</option>
                    <option value="48">48 Meses</option>
                    <option value="60">60 Meses</option>
                    <option value="72">72 Meses</option>
                </select>
                <br>
                <button type="submit">Mostrar</button>
            </form>
        </center>
        <%
        if(pInicial !=0 ){
            let pagoInicial = 0;
            let totalFin = 0;
            let pagoMensual = 0;
            
            pagoInicia = valor * (pInicial/100);
            totalFin = valor - pagoInicial;
            pagoMensual = totalFin/plazos;
            %>

             <center>
                <br>
                <hr>
                <h3>Resumen de la cotización</h3>
                <br>
                <hr>
                Valor del Automovil: <%=valor%> <br>
                Porcentaje de pagoInicial : <%=pInicial%> <br>
                Plazos : <%=plazos%>
                <br>
                Pago Inicial: <%=pagoInicia%> <br>
                Total a financiar: <%=totalFin%> <br>
                Pago mensual: <%=pagoMensual%> 
            </center>
            <%
        } 
        %>
       
        
    </div>
</body>
</html>