<%-include('partials/encabezado.html');%>
<body>
    <div class="container">
        <h1>Tabla de Multiplicar</h1>
        <form action="/tablas" method="post">
            Numero Tabla : <input type="number" id="tablas" name="tablas" required="true" value=" <%=tablas%>">
            <button type="submit">Mostrar</button>
            
        </form>
        <%
            if(tablas != null){
                let res=0;

                for(con = 1; con<=10; con++){
                    res = con*tablas;
                    %>
                    <h3><%=tablas%> * <%=con%> = <%=res%></h3>
                    <%          
                }
            }        
        %>
    </div>
    <%-include('partials/piePagina.html');%>
</body>
</html>